fastapi
pydantic
uvicorn
qdrant-client
requests
pymupdf
langchain
python-multipart
langchain-text-splitters
langchain-huggingface
langchain-community
logging
dotenv
ollama
sentence-transformers
streamlit
python-dotenv
jose